<h1 class="center title">Edit this Place</h1>

<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
      <% if url.include?("loggedin")%>
        <form action="/loggedin/<%= @user.id() %>/places/<%= @place.id() %>/edit" method="post">
      <% else %>
        <form action="/places/<%= @place.id() %>/edit" method="post">
      <% end %>
        <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="name">Name (only if it's a business, school or public building):</label>
      <input class="form-control input-lg" type="text" name="name" value="<%= @place.name %>">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <div class="form-group">
      <label for="street_number">Street Address:</label>
      <input class="form-control input-lg" type="text" name="street_number" value="<%= @place.address_line1 %>">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-1">
    <div class="form-group">
      <label for="address_line2">Suite or Apartment Number:</label>
      <input class="form-control input-lg" type="text" name="address_line2" value="<%= @place.address_line2 %>">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <div class="form-group">
      <label for="city">City:</label>
      <input class="form-control input-lg" type="text" name="city" value="<%= @place.city %>">
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <label for="state">State:</label>
      <input class="form-control input-lg" type="text" name="state" value="<%= @place.state %>">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-1">
    <div class="form-group">
      <label for="zipcode">Zipcode:</label>
      <input class="form-control input-lg" type="text" name="zipcode" value="<%= @place.zipcode %>">
    </div>
  </div>
</div>
<div class="well">
  <h3 class="col-sm-offset-1">Building Owner/Manager Contact Information (optional)</h3>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <div class="form-group">
        <label for="contact_first_name">First Name of building contact:</label>
        <input class="form-control input-lg" type="text" name="contact_first_name" value="<%= @place.contact.first_name if @place.contact %>">
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <div class="form-group">
        <label for="contact_last_name">Last Name:</label>
        <input class="form-control input-lg" type="text" name="contact_last_name" value="<%= @place.contact.last_name if @place.contact %>">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1 ">
      <div class="form-group">
        <label for="contact_phone">Phone for contact:</label>
        <input class="form-control input-lg" type="text" name="contact_phone" value="<%= @place.contact.phone_number if @place.contact %>">
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <div class="form-group">
        <label for="contact_email">Email for contact:</label>
        <input class="form-control input-lg" type="text" name="contact_email" value="<%= @place.contact.email_address if @place.contact %>">
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <br><button type='submit' class="btn btn-warning btn-lg btn-block">Submit Changes</button>
    </div>
  </form>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <% if url.include?("loggedin")%>
      <form action="/loggedin/places/<%= @place.id() %>" method="post">
        <% else %>
      <form action="/places/<%= @place.id() %>" method="post">
        <% end %>
        <input type="hidden" name="_method" value="delete">
        <br><button type='submit' class="btn btn-danger btn-lg btn-block">Delete this place</button>
      </form>
    </div>
  </div>
