<div class="well">
  <div class="center">
    <h1 class="title"> <%= @place.name %> </h1>
    <p><%= @place.address_line1 %> <%= @place.address_line2 %><p>
    <p><%= @place.city %>, <%= @place.state %> <%= @place.zipcode %></p>
  </div>
</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="center">Should you drink here?</h2>
      <% if @place.rating == "red" %>
        <h2 class="center" id="red">No! The drinking water here has dangerous levels of lead.</h2>
      <% elsif @place.rating == 'green' %>
        <h2 class="center" id="green">Go ahead! The drinking water has been tested and is safe.</h2>
      <% else %>
      <h2 class="center" id="yellow">Drink with caution- the water here hasn't been tested.</h2>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2 class="center">Test Results:</h2>
      <% if @place.results().any?() %>
      <ol>
        <% @place.results.each do |result| %>
        <li><strong>Test Date:</strong> <%= result.test_date() %>, <strong>Tested at:</strong> <%= result.lab() %>, <strong>Test reported by:</strong> <%= result.user.user_name() if result.user %>
        <% if result.over_limit() %>
          <br><strong>Analysis: </strong>Water from drinking fixtures tested over the 15ppm EPA limit for lead.
          <% else %>
          <br><strong>Analysis: </strong>Water from drinking fixtures did not test over the 15ppm EPA limit.
        <% end %>
        </li>
        <% end %>
      <ol>
      <% else %>
      <h3 class="center"> There are no test results posted for this place yet.</h3>
      <% end %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <% if url.include?("loggedin") %>
        <p><a class="btn btn-success btn-lg btn-block" href="/loggedin/<%= @user.id() %>/result/<%= @place.id() %>/new">Add a testing<br>result</a></p>
      <% else %>
        <p><a class="btn btn-success btn-lg btn-block" href="/login">Log in to add<br> a test result</a></p>
      <% end %>
    </div>
    <div class="col-sm-2">
      <% if url.include?("loggedin") %>
        <p><a class="btn btn-warning btn-lg btn-block" href="/loggedin/<%= @user.id() %>/places/<%= @place.id() %>/edit">Edit place<br>info</a></p>
      <% else %>
        <p><a class="btn btn-warning btn-lg btn-block" href="/places/<%= @place.id() %>/edit">Edit place<br> info</a></p>
      <% end %>
    </div>
    <div class="col-sm-2">
      <% if url.include?("loggedin") %>
      <p><a class="btn btn-primary btn-lg btn-block" href="/loggedin/<%= @user.id() %>/watch/<%= @place.id() %>">Watch<br>this place</a></p>
      <% else %>
      <p><a class="btn btn-primary btn-lg btn-block" href="/login">Log in to<br>watch place</a></p>
      <% end %>
    </div>
  </div>
