<div class="center">
  <h1 class="title"> <%= @place.name %> </h1>
  <p class="address"><%= @place.address_line1 %> <%= @place.address_line2 %><p>
  <p><%= @place.city %>, <%= @place.state %> <%= @place.zipcode %></p>
</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="center">Should you drink here?</h2>
      <% if @place.rating == "red" %>
        <h3 class="center" id="red">No! The drinking water here has dangerous levels of lead.</h3>
      <% elsif @place.rating == 'green' %>
        <h3 class="center" id="green">Go ahead! The drinking water has been tested and is safe.</h3>
      <% else %>
      <h3 class="center" id="yellow">Drink with caution- the water here hasn't been tested.</h3>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="center">Test Results:</h2>
      <% if @place.results().any?() %>
      <ul>
        <% @place.results.each do |result| %>
        <li>Test Date: <%= result.test_date() %>, Tested at: <%= result.lab() %>, Test reported by: <%=result.user.user_name()%>
        <% if result.over_limit() %>
          Water from drinking faucet(s) or fountain(s) tested over the 15ppm EPA limit.
          <% else %>
          Water from drinking faucet(s) or fountain(s) did not test over the 15ppm EPA limit.
        <% end %>
        </li>
        <% end %>
      <ul>
      <% else %>
      <p> There are no test results posted for this place yet.</p>
      <% end %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-2">
      <% if url.include?("loggedin") %>
        <p><a class="btn btn-success btn-lg btn-block" href="/loggedin/<%= @user.id() %>/result/<%= @place.id() %>/new">Add a testing result</a></p>
      <% else %>
        <p><a class="btn btn-success btn-lg btn-block" href="/login">log in to add a result</a></p>
      <% end %>
    </div>
    <div class="col-sm-2">
      <p><a class="btn btn-warning btn-lg btn-block" href="/places/<%= @place.id() %>/edit">Edit place info</a></p>
    </div>
    <div class="col-sm-2">
      <form action="/places/<%= @place.id() %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit" class="btn btn-danger btn-lg btn-block">Delete place</button>
      </form><br>
    </div>
    <div class="col-sm-2">
      <p><a class="btn btn-primary btn-lg btn-block" href="/loggedin/<%= @user.id() %>/watch/<%= @place.id() %>">Watch</a></p>
    </div>
  </div>
